{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h1> Contact us </h1>
    <p>If you need to contact us directly, please email <a> bernardo.ribeiro.work@gmail.com </a></p>
    <p>For code related problems and issues, as well as suggestions to improve the platform, please reach out to us at <a href="https://github.com/bernasx/aiartsharing"> https://github.com/bernasx/aiartsharing</a></p>

    <h1> Content related issues </h1>
    <p>To report any content abuse please use our report system <a href="">here</a>.</p>

    <h1> Social Media </h1>
    You can get updates from us directly if you follow us on <a href="">Twitter</a> or by joining our <a href="">Discord Server</a>.
</div>
{% endblock content %}