{% extends 'base.html' %}
{%load static%}

{% block content %}

{%include 'report.html' %}

<div id="notification" class="notification is-hidden is-success">
    <button class="delete" _="on click toggle .is-hidden on #notification" hx-post="clear-report-notification" hx-swap="none"></button>
    Report sent successfully!
</div>



<link rel="stylesheet" href="{% static 'css/detail.css' %}" type="text/css">

<div class="columns is-centered">
    <div class="column is-one-fifth">
            <figure class="image">
                <img id="main-image" src="{{object.image_url}}" alt="Image" alt="Post Image">
            </figure> 
    </div>
</div>

<div class="container is-centered has-text-centered">
    <div class="block">
        Uploaded by <a href="{% url 'auth:profile' object.user.uuid %}"> @{{object.user.username}} </a> -
        <time datetime="{{object.publish_date|date:"Y-m-d"}}">{{object.publish_date|date:"M d, Y"}}</time> - <strong> {{likes}} </strong> {%if likes == 1%} like {%else%} likes {%endif%}

    </div>
    
    <div class="block" id="like-favorite-button-block">
        {%if object.user != user%}
        {% include './partials/detail_like_favorite_buttons.html' %}
        {%endif%}
    </div>

   
</div>

<div class="content mt-6">

    <h1 id="detail-header" class="is-size-3 mb-4">Details </h1>

    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Model: </h3>
    <p>{{object.model}} </p>
    </div>
    
    
    {%if object.hypernetwork%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Hypernetwork: </h3>
    <p >{{object.hypernetwork}} </p>
    </div>
    {%endif%}

    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Positive Prompt: </h3>
    <p>{{object.positive_prompt}} </p>
    </div>

    {%if object.negative_prompt%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Negative Prompt: </h3>
    <p>{{object.negative_prompt}} </p>
    </div>
    {%endif%}
    
    {%if object.notes%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Notes: </h3>
    <p>{{object.notes}} </p>
    </div>
    {%endif%}
    
    {% if object.generation_details%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Generation Details: </h3>
    <p>{{object.generation_details}} </p>
    </div>
    {% endif %}
</div>

<h1 id="recommendation-header" class="is-size-3 mb-4">Check out more posts like this</h1>

<div class="columns is-multiline is-mobile">
    {%for post in recommended_posts%}
        <div class="column is-2-desktop is-4-mobile">
            <a href="{% url 'content:detail_imagepost' post.uuid %}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src={{post.image_url}} alt="Image" class="post-card-image">
                    </figure>
                </div>
            </a>
        </div>
    {%endfor%}
</div>

{% include '../comments/create.html' %}
{% include '../comments/commentlist.html' %}

{% endblock content %}