{% extends 'base.html' %}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" type="text/css">

<div class="columns is-centered">
    <div class="column is-one-fifth">
            <figure class="image">
                <img id="main-image" src="{{object.image_url}}" alt="Image" alt="Post Image">
            </figure> 
    </div>
</div>

<div class="container is-centered has-text-centered">
    <div class="block">
        Uploaded by <a href="{% url 'auth:profile' object.user.uuid %}"> @{{object.user.username}} </a> -
        <time datetime="{{object.publish_date|date:"Y-m-d"}}">{{object.publish_date|date:"M d, Y"}}</time> - <strong> {{likes}} </strong> {%if likes == 1%} like {%else%} likes {%endif%}

    </div>
    
    <div class="block" id="like-favorite-button-block">
        {% include './partials/detail_like_favorite_buttons.html' %}
    </div>

   
</div>

<div class="content mt-6">

    <h1 id="detail-header" class="is-size-3 mb-4">Details </h1>

    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Model: </h3>
    <p>{{object.model}} </p>
    </div>
    
    
    {%if object.hypernetwork%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Hypernetwork: </h3>
    <p >{{object.hypernetwork}} </p>
    </div>
    {%endif%}

    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Positive Prompt: </h3>
    <p>{{object.positive_prompt}} </p>
    </div>

    {%if object.negative_prompt%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Negative Prompt: </h3>
    <p>{{object.negative_prompt}} </p>
    </div>
    {%endif%}
    
    {%if object.notes%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Notes: </h3>
    <p>{{object.notes}} </p>
    </div>
    {%endif%}
    
    {% if object.generation_details%}
    <div class="box">
    <h3 class="is-size-5 has-text-weight-semibold">Generation Details: </h3>
    <p>{{object.generation_details}} </p>
    </div>
    {% endif %}
</div>

{% include '../comments/create.html' %}
{% include '../comments/commentlist.html' %}

{% endblock content %}