body, .navbar {
    background-color: #FAFAFA;
}

.fit-screen {
    min-height: 100vh;
}


/* Override Bulma Colors */

/* Leave this here until I decide whether or not to override border colors.... 
/* Text input border color 
.input:active, .input:focus{
    border-color: #BD473F;
    box-shadow: 0 0 0 0.125em rgba(189,71,63,.25);
}

.textarea:active, .textarea:focus{
    border-color: #BD473F;
    box-shadow: 0 0 0 0.125em rgba(189,71,63,.25);
}

*/

/* Arrow in a select element */
.select::after {
    border-color:#BD473F !important;
}



/* Social Media buttons */ 

#discord-button {
    font-weight: 500;
    color: white;
    background-color: #5662f6;
}

#twitter-button {
    font-weight: 500;
    color:white;
    background-color: #1d9bf0;
}

#github-button {
    font-weight: 500;
    color:white;
    background-color: #24292f;
}

.social-media-icon {
    margin-right: 0px !important;
}