body, .navbar, .footer {
    background-color: #e4e4e4;
}

.fit-screen {
    min-height: 100vh;
}


/* Override Bulma Colors */

.is-primary {
    background-color: #BD473F !important;
}

.pagination-link.is-current {
    background-color: #BD473F;
    border-color: #BD473F;
}

.pagination-link {
    background-color: whitesmoke;
}

a.navbar-item:hover, .navbar-link:hover, .navbar-item.has-dropdown:hover .navbar-link   {
    background-color: #ebebeb;
    color: #BD473F;
}

/* Leave this here until I decide whether or not to override border colors.... 
/* Text input border color 
.input:active, .input:focus{
    border-color: #BD473F;
    box-shadow: 0 0 0 0.125em rgba(189,71,63,.25);
}

.textarea:active, .textarea:focus{
    border-color: #BD473F;
    box-shadow: 0 0 0 0.125em rgba(189,71,63,.25);
}

*/

/* Arrow in a select element */
.select::after {
    border-color:#BD473F !important;
}

a.navbar-link::after {
    border-color:#BD473F !important;
}

/* change borders to be thicker */

.input, .button, .select select, .textarea {
    border-color: #949494;
}

/* Social Media buttons */ 

#discord-button {
    font-weight: 500;
    color: white;
    background-color: #5662f6;
}

#twitter-button {
    font-weight: 500;
    color:white;
    background-color: #1d9bf0;
}

#github-button {
    font-weight: 500;
    color:white;
    background-color: #24292f;
}

.social-media-icon {
    margin-right: 0px !important;
}