#detail-header,#recommendation-header {
    color: #BD473F;
    font-weight: 600;
}

#main-image {
    border-radius: 8px;
}

p {
    word-break: break-all;
}

.post-card-image {

    object-fit: cover;

}