{% extends 'base.html' %}
{%load widget_tweaks%}
{% block content %}
<form method="POST" action="{% url 'auth:password_change' %}" autocomplete='off'>
    {% csrf_token %}

    <div class="field">

        <label class="label">{{ form.old_password.label_tag }}</label>
        {{ form.old_password.errors }}

        <div class="control">
            {% render_field form.old_password class="input"%}
        </div>

    </div>

    <div class="field">

        <label class="label">{{ form.new_password1.label_tag }}</label>
        {{ form.new_password1.errors }}

        <div class="control">
            {% render_field form.new_password1 class="input"%}
        </div>
        
    </div>
    

    <div class="field">

        <label class="label">{{ form.new_password2.label_tag }}</label>
        {{ form.new_password2.errors }}

        <div class="control">
            {% render_field form.new_password2 class="input"%}
        </div>
        
    </div>

    {{form.new_password1.help_text}}

    {% comment%}
    Login errors tied to authentication
    {% endcomment%}
    {%for error in form.non_field_errors%}
        {{error}}
    {%endfor%}

    
    
    <div class="field is-horizontal">
        <div class="field-label fit-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field has-text-right">
                <div class="control">
                    <button type="submit" class="button">Change Password</button>
                </div>
            </div>
        </div>
    </div>

        
    
</form>
{% endblock content %}