{% extends 'base.html' %}

{% block content %}
<img src="{{customuser.profile_picture.url}}" alt="Profile Picture" height="100" width="100"> </img>
{{customuser.username}}
    {%if customuser.uuid == user.uuid%}
        <a class="button is-link"  href="{% url 'auth:profile_edit' %}">
            <strong>Edit Profile</strong>
        </a>
        <a class="button is-link"  href="{% url 'auth:password_change' %}">
            <strong>Change Password</strong>
        </a>
    {%endif%}
{% endblock content %}